{% extends "CovertechdesignAdminBundle::popup.html.twig" %}


{% block content %}

    <div class="panel-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="text-align: center;">
                {{ form_label(form.idmarca) }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="">
                {{ form_widget(form.idmarca)  }}
            </div>
            <div class="col-md-4">
            </div>        
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4" style="text-align: center;">
                    {{ form_label(form.nombre) }}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4" style="">
                    {{ form_widget(form.nombre)  }}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4" style="padding-top:2em;text-align: center;margin-left: auto;margin-right: auto;">
                    <button type="submit" class="btn btn-danger" >Agregar</button>

                </div>
                <div class="col-md-4">
                </div>
            </div>


            {{ form_row (form._token) }}
            {{ form_end(form, {'render_rest': false}) }}   
        </div>
    {% endblock %}
